
@media (max-width: 991px){
	body {font-size: 14px;}
	.site_box {
	    padding-left: 4vw;
	    padding-right: 4vw;
	}
	#sec_1 {padding-left: 4em;}
	.img_product {height: 14vw;}
	h2 {font-size: 2.5em;}
	.why_bg {top: 8%;}
	#callback_block {
	    background-image: linear-gradient(to right, transparent 30%, #fff 65%), url(../images/bg/bg_4.jpg);
	    background-size: 100% 100%, auto 100%;
	    background-position: 0% 0%, 0% 0%;
	}
	.cloud_2 {display: none;}
	.footer_logo {max-width: 300px;}
	.developers img {max-width: 50px;}
	.developers a>p {font-size: 16px;}
	.main_img {top: 12em;}
	.cloud_3 {width: 16vw;}
	.reviews_box .review {padding: 1em;}
	.item_count>p {text-align: right;width: 100%;}
	.sort {width: 100%;}
	.img_product2 {height: 20vw;}
}
@media (max-width: 767px){
	.site_box {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	section {min-height: fit-content;}
	.h_info {justify-content: center;}
	.logo {
	    width: 40%;
	    margin-bottom: .5em;
	}
	.nav-link {
		font-size: 1.5em;
    	line-height: 1.5em;
	}
	.layer01_img, .layer02_img, .layer03_img, .layer04_img {display: none;}
	.layer01, .layer02, .layer03, .layer04 {
		width: 100%;
    	background-color: rgba(255,255,255,.7);
	}
	.swiper_wrap {margin: 1.5em 2em;}
	#sec_2, #sec_3, #sec_4 {padding-left: 4em;}
	.img_product {height: 26vw;}
	.why_bg {
	    top: 0;
	    width: 70%;
    	opacity: .2;
	}
	.akcia_img {
	    right: 1vw;
	    top: 10%;
	    height: auto;
	    width: 45%;
	}
	.img-news {height: 50vw;}
	.swiper-button-prev, .swiper-button-next {top: 50%;}
	.cloud_1 {display: none;}
	h1, h2 {font-size: 2em;}
	footer {
		flex-flow: row wrap;
		justify-content: center;
	}
	#callback_block {
	    background-image: linear-gradient(to right, rgba(255,255,255,.7), #fff), url(../images/bg/bg_4.jpg);
	}
	.remaining_time {font-size: 3em;}
	#Modal_cb .modal-content {
    background-image: linear-gradient(to right, rgba(255,255,255,.85), rgba(255,255,255,.85)), url(../images/bg/bg_callback_modal.jpg);}
	.cloud_3 {display: none;}
	.reviews_box {columns: 1;}
	.reviews_box_wrap {height: 100vw;}
	.catalog {flex-flow: row wrap;}
	.left_menu {
	    width: 100%;
	    margin-right: 0;
	    margin-top: 1em;
	}
	.img_product2 {height: 30vw;}
}
@media (max-width: 575px){
	.img-fullnews {
		width: 100%;
    	margin: 0 0 1em 0;
	}
	h1, h2 {font-size: 1.7em;}
	h3 {font-size: 1.5em;}
	.left_title {display: none;}
	#sec_1, #sec_2, #sec_3, #sec_4 {padding-left: 15px;}
	.remaining_time {font-size: 2em;}
	.img_product {height: 50vw;}
	.reviews_block {padding: .5em;}
	.review {padding: 0.5em;}
	.swiper-button-prev, .swiper-button-next {
		width: 13px;
    	height: 16px;
	}
	.swiper_wrap {margin: 0em;}
	.swiper-button-next {right: 0;}
	.swiper-button-prev {left: 0;}
	#why {padding-bottom: 0em;}
	#Modal_cb .modal-content {padding: .5em .5em 0;}
	#Modal_cb .modal-dialog {
	    width: 95%;
	    margin: 1em auto;
	}
	.close {
		top: 0;
    	right: 0;
	}
	.reviews_box_wrap {height: 200vw;}
	.cc_control {flex-flow: row wrap;}
	.item_count {width: 100%;}
	.item_count>p {
	    text-align: right;
	    width: fit-content;
	}
	.sort {
	    justify-content: flex-end;
	    flex-flow: row wrap;
	    margin-bottom: .5em;
	}
	.img_product2 {height: 55vw;}
}